*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  --text-color: #292929;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--text-color);
}
header {
  box-shadow: 0px 0px 10px 0px rgba(188, 188, 188, 0.34);
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}
ul {
  list-style: none;
}

.center-icon a {
  display: flex !important;
  /* align-items: center; */
  /* background-color: aliceblue; */
  gap: 2px;
}

.header-section {
  width: 111.7rem;
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  gap: 2rem;
  flex-grow: 1;

  padding-top: 1rem;
}
.header-nav-container {
  flex-grow: 1;
}

.nav-one,
.nav-two {
  display: flex;
  /* background-color: aliceblue; */
}
.nav-one {
  margin-bottom: 1rem;
  /* background-color: aliceblue; */
}
.nav-two {
  gap: 2rem;
}

.nav-two a:hover {
  border-bottom: 5px solid #db0007;
}
.nav-one a,
.nav-two a {
  display: inline-block;
  padding: 1.2rem;
}

.nav-two a {
  font-size: 1.8rem;
}

.flex-grow {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-grow + li {
  margin-right: 3rem;
}

ion-icon[name^="che"] {
  width: 16px;
  height: 16px;
}

.center-icon .gap {
  gap: 4px;
}

.self-margin {
  margin-right: 2rem;
}

ion-icon[name^="loc"] {
  width: 18px;
  height: 18px;
  color: #db0007;
}

.btn {
  display: inline-block;
  background-color: #ffbc0d;

  border-radius: 0.3rem;
  padding: 0.8em 1.4em 0.8em 1.4em !important;
}

.hero-section {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid black; */
  width: 111.7rem;
  max-width: 100%;
  min-height: 51rem;
  background-image: url("images/Home-Slider-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem;
  /* display: grid; */
  /* grid-template-columns: 30% 70%; */
}
.hero-content {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  bottom: 10%;
  width: 420px;
  max-width: 100%;

  /* align-self: end; */
}

.secondary-heading {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.secondary-heading + p {
  line-height: 1.6;
  margin-bottom: 3rem;
}

.secondary-heading ~ a {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.circle-container {
  display: flex;
  gap: 0.5rem;
}
.circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100000px;
  background-color: rgba(12, 12, 12, 0.4);
}
.red {
  background-color: #db0007;
}

.card-section {
  margin: 5rem auto 0 auto;
  width: 111.7rem;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  width: 36rem;
  max-width: 100%;
  border: 1px solid #d6d6d6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.card h2 {
  font-size: 2.8rem;
  color: #db0007;
}

.card figure {
  margin-bottom: 2rem;
}

.card img {
  width: 100%;
}
.card p {
  text-align: center;
  line-height: 1.4;
}
.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.hide {
  visibility: hidden;
  display: block;
  pointer-events: none;
}
/*  */
.footer {
  margin: 8rem auto 0 auto;
  width: 111.7rem;
  max-width: 100%;
  /* border: 1px solid black; */
  padding: 1rem;
}

.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-section h3 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.footer-section li {
  margin-bottom: 1rem;
}

.social-links-section {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.social-links-container {
  display: flex;
  gap: 2rem;
}
.social-links-container div {
  border: 1px solid black;
  border-color: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  border-radius: 50%;
}

.social-icon {
  font-size: 1.6rem;
}

.store-logo {
  display: flex;
  gap: 1rem;
}
.line {
  margin-top: 5rem;
  padding: 1px;
  background-color: #d6d6d6;
}

.info-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.info-section ul,
.info-section div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info-section ul {
  gap: 2rem;
}
